---
- name: install dependencies | Debian
  package:
    pkg: "{{ item }}"
    update_cache: true
    cache_valid_time: 86400
    state: present
  with_items:
    - apache2-dev
  when: ansible_facts['os_family'] == "Debian"

- name: install dependencies | RedHat
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - httpd-devel
  when: ansible_facts['os_family'] == "RedHat"

# ---------------------------------------------
# Figure out what version of Apache is installed.
# ---------------------------------------------
- name: Get installed version of Apache.
  command: "{{ apache_daemon_path }}{{ apache_daemon }} -v"
  changed_when: false
  check_mode: false
  register: _apache_version

## This will create full version, like 2.4.6
- set_fact:
    apache_version: "{{ _apache_version.stdout.split()[2].split('/')[1] }}"


## Translate full apache_version (2.4.5) to the MAJOR.MINOR value, like "2.4"
- set_fact:
    apache_version_base: "{{ '.'.join(apache_version.split('.')[:2]) }}"


# --------------------------------------------------
# releases/x.x.x.x/cache folder
# --------------------------------------------------
- name: Create cache directory for templates
  file:
    path: "{{ ansible_facts['deploy_helper']['new_release_path'] }}/cache"
    owner: '{{ apache_user }}'
    group: '{{ apache_group }}'
    state: directory
    mode: u=rwX,g=rX,o=rX


- name: Install mod_wsgi python package
  ansible.builtin.shell:
    cmd: >-
      umask 0022 &&
      {{ uv_install_dir }}/uv pip install mod_wsgi=={{ mod_wsgi_version }}
      --python {{ ansible_facts['deploy_helper']['new_release_path'] }}/pyenv/bin/python
    creates: "{{ ansible_facts['deploy_helper']['new_release_path'] }}/pyenv/lib/python{{ python_version_base }}/site-packages/mod_wsgi"


- name: Get mod_wsgi module location
  command: "{{ ansible_facts['deploy_helper']['new_release_path'] }}/pyenv/bin/mod_wsgi-express module-location"
  changed_when: false
  check_mode: false
  register: _mod_wsgi_file_path


# --------------------------------------------------
# releases/x.x.x.x/miarec.wsgi file
# --------------------------------------------------
- name: Copy miarec.wsgi file
  copy:
    src: "{{ ansible_facts['deploy_helper']['new_release_path'] }}/app/miarec.wsgi.sample"
    dest: "{{ ansible_facts['deploy_helper']['new_release_path'] }}/miarec.wsgi"
    remote_src: true
    mode: '0644'

# --------------------------------------------------
# Apache conf.d/miarec.conf
# --------------------------------------------------
- name: Install miarec.conf into apache conf.d directory | RedHat
  template:
    src: "apache-{{ apache_version_base }}-miarec.conf.j2"
    dest: "{{ apache_conf_path }}/miarec.conf"
    mode: '0644'
  vars:
    wsgi_python_home: "{{ ansible_facts['deploy_helper']['new_release_path'] }}/pyenv"
    wsgi_python_path: "{{ ansible_facts['deploy_helper']['new_release_path'] }}/pyenv/lib/python{{ python_version_base }}/site-packages"
    miarecweb_root_dir: "{{ ansible_facts['deploy_helper']['new_release_path'] }}"
    mod_wsgi_file_path: "{{ _mod_wsgi_file_path.stdout }}"
  notify: reload apache
  when: ansible_facts['os_family'] == "RedHat"


- name: Install miarec.conf into apache conf.d directory | Debian
  template:
    src: "apache-{{ apache_version_base }}-miarec.conf.j2"
    dest: "{{ apache_conf_path }}/sites-available/miarec.conf"
    mode: '0644'
  vars:
    wsgi_python_home: "{{ ansible_facts['deploy_helper']['new_release_path'] }}/pyenv"
    wsgi_python_path: "{{ ansible_facts['deploy_helper']['new_release_path'] }}/pyenv/lib/python{{ python_version_base }}/site-packages"
    miarecweb_root_dir: "{{ ansible_facts['deploy_helper']['new_release_path'] }}"
    mod_wsgi_file_path: "{{ _mod_wsgi_file_path.stdout }}"
  notify: reload apache
  when: ansible_facts['os_family'] == "Debian"


- name: a2ensite miarec site | Debian
  command: a2ensite miarec
  args:
    creates: "{{ apache_conf_path }}/sites-enabled/miarec.conf"
  notify: reload apache
  when: ansible_facts['os_family'] == "Debian"


# Apache needs:
#  - read permissions to miarecweb python files (/opt/miarecweb/current/)
#  - write permissions to the directory used for incoming replication
# We assume that such directory is owned by "miarec" group
- name: Grant apache process an access to recordings directory
  user:
    name: "{{ apache_user }}"
    groups: "{{ miarec_bin_group }}"
    append: true
  when: miarec_bin_group != 'root'


# --------------------------------------------------
# Apache enable SSL
# --------------------------------------------------
- name: install Apache SSL module | RedHat
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - mod_ssl
  notify: reload apache
  when: ansible_facts['os_family'] == "RedHat"


- name: enable Apache SSL module | Debian
  command: >
    a2enmod ssl
    creates=/etc/apache2/mods-enabled/ssl.load
  notify: reload apache
  when: ansible_facts['os_family'] == "Debian"


- name: a2ensite default-ssl site | Debian
  command: a2ensite default-ssl
  args:
    creates: "{{ apache_conf_path }}/sites-enabled/default-ssl.conf"
  notify: reload apache
  when: ansible_facts['os_family'] == "Debian"


# --------------------------------------------------
# Apache conf.d/miarec-ssl.conf
# --------------------------------------------------
- name: Install miarec-ssl.conf into apache conf.d directory | RedHat
  template:
    src: "apache-miarec-ssl.conf.j2"
    dest: "{{ apache_conf_path }}/miarec-ssl.conf"
    mode: '0644'
  notify: reload apache
  when: miarecweb_force_https|bool and ansible_facts['os_family'] == "RedHat"


- name: Install miarec-ssl.conf into apache conf.d directory | Debian
  template:
    src: "apache-miarec-ssl.conf.j2"
    dest: "{{ apache_conf_path }}/sites-available/miarec-ssl.conf"
    mode: '0644'
  notify: reload apache
  when: miarecweb_force_https|bool and ansible_facts['os_family'] == "Debian"


- name: a2ensite miarec-ssl site | Debian
  command: a2ensite miarec-ssl
  args:
    creates: "{{ apache_conf_path }}/sites-enabled/miarec-ssl.conf"
  notify: reload apache
  when: miarecweb_force_https|bool and ansible_facts['os_family'] == "Debian"
