---

- name: "Add celery group '{{ miarecweb_celery_group }}' | Celerybeat"
  group:
    name: "{{ miarecweb_celery_group }}"
    state: present
  when: miarecweb_celery_group != 'root'


# -----------------------------
# Create user for celery daemon
# Important:
#   User should have access to shell otherwise the init.d startup script fails (i.e. shell: /bin/false will not work)
# -----------------------------
- name: "Add celery user '{{ miarecweb_celery_user }}' | Celerybeat"
  user:
    name: "{{ miarecweb_celery_user }}"
    group: "{{ miarecweb_celery_group }}"
    comment: "Celery Task Manager"
    shell: /bin/bash
    system: true
  when: miarecweb_celery_user != 'root'


- name: Create log directory for celerybeat
  file:
    path: '{{ miarecweb_celery_log_dir }}'
    owner: '{{ miarecweb_celery_user }}'
    group: '{{ miarecweb_celery_group }}'
    state: directory
    mode: u=rwX,g=rX,o=rX


- name: Configure celerybeat settings
  template:
    src: "etc_default_celerybeat.j2"
    dest: "/etc/default/celerybeat"
    owner: root
    group: root
    mode: '0644'
  vars:
    miarecweb_root_dir: "{{ ansible_facts['deploy_helper']['current_path'] }}"
  notify: reload celerybeat


- name: Install celerybeat service | init.d
  template:
    src: "etc_init.d_celerybeat.j2"
    dest: "/etc/init.d/celerybeat"
    owner: root
    group: root
    mode: '0755'
  vars:
    miarecweb_root_dir: "{{ ansible_facts['deploy_helper']['current_path'] }}"
  notify:
    - start celerybeat
  when: ansible_facts['service_mgr']|default() != "systemd"

- name: Remove /etc/init.d/celerybeat | SystemD
  file:
    path: "/etc/init.d/celerybeat"
    state: absent
  when: ansible_facts['service_mgr'] == "systemd"


- name: Install celerybeat service | SystemD
  template:
    src: "etc_systemd_system_celerybeat.service.j2"
    dest: "/etc/systemd/system/celerybeat.service"
    owner: root
    group: root
    mode: '0644'
  vars:
    miarecweb_root_dir: "{{ ansible_facts['deploy_helper']['current_path'] }}"
  notify:
    - reload celerybeat
    - reload systemd
  when: ansible_facts['service_mgr'] == "systemd"


- name: Enable celerybeat service
  service:
    name: celerybeat
    enabled: true


- name: Configure logrotate | celerybeat
  template:
    src: "etc_logrotate.d_celery.j2"
    dest: "/etc/logrotate.d/celery"
    mode: '0644'
