---
# ---------------------------------------------
# Install other dependencies
# ---------------------------------------------
- name: install dependencies | Debian
  package:
    pkg: "{{ item }}"
    update_cache: true
    cache_valid_time: 86400
    state: present
  with_items:
    - gcc
    - g++
    - make
    - openssl
    - libpq-dev
    - libssl-dev
    - libffi-dev
    - unixodbc-dev
    - postgresql-client
  when: ansible_facts['os_family'] == "Debian"

# PowerTools is required for `perl-IPC-Run`
- name: Enable Powertools repo | RockyLinux 8
  ini_file:
    dest: /etc/yum.repos.d/Rocky-PowerTools.repo
    section: powertools
    option: enabled
    value: 1
    mode: "0644"
  when:
    - ansible_facts['distribution'] == "Rocky"
    - ansible_facts['distribution_major_version'] == "8"

# CRB is required for `perl-IPC-Run`
- name: Enable CRB repo | RockyLinux 9
  ini_file:
    dest: /etc/yum.repos.d/rocky.repo
    section: crb
    option: enabled
    value: 1
    mode: "0644"
  when:
    - ansible_facts['distribution'] == "Rocky"
    - ansible_facts['distribution_major_version'] == "9"

- name: install dependencies | RedHat
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - gcc
    - gcc-c++
    - make
    - openssl
    - openssl-devel
    - libffi-devel
    - libxml2-devel
    - libxslt-devel
    - postgresql-devel
    - unixODBC-devel
  when: ansible_facts['os_family'] == "RedHat"

# this is required for mod_wsgi install
- name: install Additional dependencies | RHEL 8
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - redhat-rpm-config
  when:
    - ansible_facts['distribution_major_version'] == "8"
