---
# ---------------------------------------------
# Prepare for run (includes Python version detection)
# ---------------------------------------------
- import_tasks: preflight.yml


# ---------------------------------------------
# Install dependencies
# ---------------------------------------------
- import_tasks: dependencies.yml
  become: true

# --------------------------------------------------
# Create "miarec" group if necesasry
# --------------------------------------------------
- name: "Add miarec group '{{ miarec_bin_group }}'"
  group:
    name: "{{ miarec_bin_group }}"
    state: present
  when: miarec_bin_group != 'root'

# --------------------------------------------------
# Initialize the installation/upgrade process
# --------------------------------------------------
- name: Initialize the deploy root and gather facts
  deploy_helper:
    path: "{{ miarecweb_install_dir }}"
    release: "{{ miarecweb_version }}"
    mode: u=rwX,g=rX,o=rX
  become: true

# --------------------------------------------------
# Install/upgrade 'miarecweb' app files
# --------------------------------------------------
- import_tasks: miarecweb.yml
  become: true

# --------------------------------------------------
# Upgrade database layout
# --------------------------------------------------
- import_tasks: upgrade_db.yml
  when: miarecweb_upgrade_db|bool
  become: true

# --------------------------------------------------
# Configure apache web server
# --------------------------------------------------
- import_tasks: apache.yml
  when: miarecweb_install_apache|bool
  become: true

# --------------------------------------------------
# Configure celery + celerybeat
# --------------------------------------------------
- import_tasks: celeryd.yml
  when: miarecweb_install_celeryd|bool
  become: true

- import_tasks: celerybeat.yml
  when: miarecweb_install_celerybeat|bool
  become: true


# --------------------------------------------------
# Cleanup old and unfinished releases
# --------------------------------------------------
- name: Cleanup old releases
  deploy_helper:
    path: "{{ miarecweb_install_dir }}"
    release: "{{ ansible_facts['deploy_helper']['new_release'] }}"
    state: finalize
    keep_releases: 10
  notify:
    - reload apache
    - reload celeryd
    - reload celerybeat
    - start apache
    - start celeryd
    - start celerybeat
  become: true
