---
# Include variables and define needed variables.
- name: gather os specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "../vars/{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
    - "../vars/{{ ansible_facts['distribution'] }}.yml"
    - "../vars/{{ ansible_facts['os_family'] }}.yml"


- name: Check for miarecweb_secret variable.
  fail:
    msg: Parameters 'miarecweb_secret' must be provided.
  when: not miarecweb_secret

- name: Check for illeagal character in secrets.
  fail:
    msg: Illeagal character, miarecweb_secret or miarecweb_db_password cannot contain '%'.
  when:
    - miarecweb_secret is search("%") or miarecweb_db_password is search("%")
