---
- name: Check if database layout is up-to-date
  command: "{{ ansible_facts['deploy_helper']['new_release_path'] }}/pyenv/bin/alembic -c {{ ansible_facts['deploy_helper']['new_release_path'] }}/production.ini current"
  environment:
    PGSSLMODE: "{{ miarecweb_db_tls_sslmode if miarecweb_db_tls | bool else 'disable' }}"
    PGSSLROOTCERT: "{{ miarecweb_db_tls_ca_file if (miarecweb_db_tls | bool and miarecweb_db_tls_ca_file) else '' }}"
    PGSSLCERT: "{{ miarecweb_db_tls_cert_file if (miarecweb_db_tls | bool and miarecweb_db_tls_cert_file) else '' }}"
    PGSSLKEY: "{{ miarecweb_db_tls_key_file if (miarecweb_db_tls | bool and miarecweb_db_tls_key_file) else '' }}"
  register: _alembic_current_revision
  changed_when: false
  run_once: "{{ miarecweb_upgrade_db_once|default(True) }}"   # execute this task once during a playbook execution, even though the role is applied to many hosts

- set_fact:
    ## Get last line, expected output in cause of up to date:
    ##    $ alembic current
    ##    2017-05-12 21:56:40,547 INFO  [alembic.runtime.migration][MainThread] Context impl PostgresqlImpl.
    ##    2017-05-12 21:56:40,547 INFO  [alembic.runtime.migration][MainThread] Will assume transactional DDL.
    ##    798983b70a19 (head)
    ##
    ## Note: '(head)' is displayed only if the revision identifier for this databse matches the head revision (i.e. up-to-date).
    alembic_current_revision: "{{ _alembic_current_revision.stdout.split('\n')[-1] }}"
  when: '_alembic_current_revision is defined'
  run_once: "{{ miarecweb_upgrade_db_once|default(True) }}"   # execute this task once during a playbook execution, even though the role is applied to many hosts

- name: Alembic current revision
  debug:
    var: alembic_current_revision
  when: '_alembic_current_revision is defined'
  run_once: "{{ miarecweb_upgrade_db_once|default(True) }}"   # execute this task once during a playbook execution, even though the role is applied to many hosts

- name: Upgrade database layout   # noqa: no-changed-when
  command: "{{ ansible_facts['deploy_helper']['new_release_path'] }}/pyenv/bin/alembic -c {{ ansible_facts['deploy_helper']['new_release_path'] }}/production.ini upgrade heads"
  environment:
    PGSSLMODE: "{{ miarecweb_db_tls_sslmode if miarecweb_db_tls | bool else 'disable' }}"
    PGSSLROOTCERT: "{{ miarecweb_db_tls_ca_file if (miarecweb_db_tls | bool and miarecweb_db_tls_ca_file) else '' }}"
    PGSSLCERT: "{{ miarecweb_db_tls_cert_file if (miarecweb_db_tls | bool and miarecweb_db_tls_cert_file) else '' }}"
    PGSSLKEY: "{{ miarecweb_db_tls_key_file if (miarecweb_db_tls | bool and miarecweb_db_tls_key_file) else '' }}"
  register: _alembic_upgrade_head
  when: 'alembic_current_revision is defined and " (head)" not in alembic_current_revision'
  run_once: "{{ miarecweb_upgrade_db_once|default(True) }}"   # execute this task once during a playbook execution, even though the role is applied to many hosts

- name: Alembic upgrade results
  debug:
    msg: "{{ _alembic_upgrade_head.stderr_lines }}"
  when: 'alembic_current_revision is defined and " (head)" not in alembic_current_revision'
  run_once: "{{ miarecweb_upgrade_db_once|default(True) }}"   # execute this task once during a playbook execution, even though the role is applied to many hosts

- name: Update database statistics (ANALYZE)   # noqa: no-changed-when
  command: 'psql -c "ANALYZE"'
  environment:
    PGUSER: "{{ miarecweb_db_user }}"
    PGPASSWORD: "{{ miarecweb_db_password }}"
    PGDATABASE: "{{ miarecweb_db_name }}"
    PGHOST: "{{ miarecweb_db_host }}"
    PGPORT: "{{ miarecweb_db_port }}"
    PGSSLMODE: "{{ miarecweb_db_tls_sslmode if miarecweb_db_tls | bool else 'disable' }}"
    PGSSLROOTCERT: "{{ miarecweb_db_tls_ca_file if (miarecweb_db_tls | bool and miarecweb_db_tls_ca_file) else '' }}"
    PGSSLCERT: "{{ miarecweb_db_tls_cert_file if (miarecweb_db_tls | bool and miarecweb_db_tls_cert_file) else '' }}"
    PGSSLKEY: "{{ miarecweb_db_tls_key_file if (miarecweb_db_tls | bool and miarecweb_db_tls_key_file) else '' }}"
  when: 'alembic_current_revision is defined and " (head)" not in alembic_current_revision'
  run_once: "{{ miarecweb_upgrade_db_once|default(True) }}"   # execute this task once during a playbook execution, even though the role is applied to many hosts
