# {{ ansible_managed }}
LoadModule wsgi_module {{ mod_wsgi_file_path }}
{% if ansible_os_family == "Debian" -%}
WSGISocketPrefix /var/run/apache2/wsgi
{% else -%}
WSGISocketPrefix run/wsgi
{% endif -%}

# Use only 1 Python sub-interpreter.  Multiple sub-interpreters
# play badly with C extensions.  See http://stackoverflow.com/a/10558360/209039
WSGIApplicationGroup %{GLOBAL}
WSGIPassAuthorization On

WSGIPythonHome {{ wsgi_python_home }}
WSGIPythonPath {{ wsgi_python_path }}

WSGIDaemonProcess miarecweb user={{ mod_wsgi_user }} group={{ mod_wsgi_group }} processes={{ mod_wsgi_processes }} threads={{ mod_wsgi_threads }} maximum-requests={{ mod_wsgi_maximum_requests }} display-name=%{GROUP}
WSGIProcessGroup miarecweb

Alias /favicon.ico {{ miarecweb_root_dir }}/app/miarecweb/static/favicon.ico
Alias /static {{ miarecweb_root_dir }}/app/miarecweb/static

WSGIScriptAlias / {{ miarecweb_root_dir }}/miarec.wsgi process-group=miarecweb

# Ensure application preloaded on process start. Must specify the
# process group and application group (Python interpreter) to use.
WSGIImportScript {{ miarecweb_root_dir }}/miarec.wsgi process-group=miarecweb application-group=%{GLOBAL}


# Custom error page (for 500 Internal Server Error). More user-friendly
ErrorDocument 500 /error

<Directory {{ miarecweb_root_dir }}/app/miarecweb/static>
  AllowOverride None
  Require all granted
</Directory>

<Directory {{ miarecweb_root_dir }}>
  <Files miarec.wsgi>
    Require all granted
  </Files>
</Directory>

{% if miarecweb_trusted_proxy|default("")|trim != '' -%}
<IfModule mod_remoteip.c>
  RemoteIPHeader X-Forwarded-For
  RemoteIPTrustedProxy {{ miarecweb_trusted_proxy }}
</IfModule>
{% endif -%}


<ifmodule mod_deflate.c>
  # compress text, html, javascript, css, xml:
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/json
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE image/x-icon
</ifmodule>

# GZIP compression for text files: HTML, CSS, JS, Text, XML, fonts
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/json
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/font-woff
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE font/woff
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml
</IfModule>