# {{ ansible_managed }}

[Unit]
Description=MiaRec CeleryBeat Service
After=network.target

[Service]
Type=simple
User={{ miarecweb_celery_user }}
Group={{ miarecweb_celery_group }}
UMask={{ miarecweb_celery_umask }}
MemoryAccounting=true
MemoryLimit=1024M
EnvironmentFile=-/etc/default/celerybeat
WorkingDirectory={{ miarecweb_root_dir }}/pyenv
ExecStart=/bin/sh -c '${CELERY_BIN} \
	-A ${CELERY_APP} beat --logfile=${CELERYBEAT_LOG_FILE} \
	--loglevel="${CELERYBEAT_LOG_LEVEL}" ${CELERYBEAT_OPTS} --pidfile="${CELERYBEAT_PID_FILE}"'

Restart=always
RestartSec=15s


[Install]
WantedBy=multi-user.target

