---
name: Ansible role testing
'on':
  pull_request:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  schedule:
    - cron: "30 7 1 * *"

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v4

      - name: Install Ansible collections
        run: uv run ansible-galaxy collection install community.general

      - name: Run ansible-lint
        run: uv run ansible-lint

  test:
    name: molecule
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        distro:
          - ubuntu2204
          - ubuntu2404
          - rockylinux9
          - rhel9
        version:
          - ${{ vars.MIARECWEB_VERSION }}
        python_version:
          - ${{ vars.MIARECWEB_PYTHON_VERSION }}

    steps:
      - name: Check out the Repository
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v4

      - name: Run molecule tests
        run: uv run molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_MIARECWEB_VERSION: ${{ matrix.version }}
          MOLECULE_MIARECWEB_PYTHON_VERSION: ${{ matrix.python_version }}
